@supports (scrollbar-width: auto) {
	* {
		scrollbar-width: thin;
		scrollbar-color: var(--color-gray-300) var(--color-gray-200);
	}
}

@supports selector(::-webkit-scrollbar) {
	*::-webkit-scrollbar-thumb {
		border-radius: 99px;
		background-color: var(--color-gray-300);
	}
	*::-webkit-scrollbar-track {
		border-radius: 99px;
		background-color: var(--color-gray-200);
	}
	*::-webkit-scrollbar {
		max-width: 8px;
		max-height: 4px;
	}
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:disabled {
  pointer-events: none;
  cursor: not-allowed;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
